<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Procesos</title>


    <style>
      .progress-bar-vertical {
      width: 20px;
      min-height: 100px;
      display: flex;
      align-items: flex-end;
      margin-right: 20px;
      float: left;
    }
        </style>
  </head>
  <body>
     <!--
    <h1>Listado Procesos</h1>
    


    <button name="loader" class="btn btn-primary" type="button" disabled>

      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="sr-only">Loading...</span>
    </button>

    <button name="loader" class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>
    <span id="cc-status">   </span>

-->
     
    <!--
      <div class="row">
          <div class="col-1">Liquidaciones: </div> 
          <div class="col-1"> <button type="button" id="empieza" class="btn btn-primary">Empieza</button> </div>
          <div class="col-1">    
            <div name="loader" class="progress">
              <div id='ProgressLiquidaciones' class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%">5%</div>
            </div>
          </div>


            <div class="col-1">    
                <div name="loader" >
                    <span id="cc-status">   </span>
                </div>

          
          
        </div>

      </div>
      
      -->
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Liquidaciones</h5>
                    <p class="card-text">Genera archivos de liquidaciones del mes actual.</p>
                    <div class="row">
                        <div class="col-1"> 
                        <button type="button" id="empieza" class="btn btn-primary">Ejecutar</button>
                      </div>
                        <div class="col-8 " style="padding:10px;margin: auto">
                           
                            <div name="loader" class=" progress"  >
                                <div id='ProgressLiquidaciones' class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%">5%</div>
                              
                              </div>
                            
                            
                        </div>
                        <div class="col-1"> 
                            <span  name=" loader " id="cc-status">   </span>
                          </div>
                      </div>
                  
                   
                     
                    </div>

                  </div>
                </div>
             
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Reliquidaciones</h5>
                    <p class="card-text">Genera liquidaciones del personal reliquidado.</p>
                    <a href="#" class="btn btn-primary">Ejecutar</a>
                  </div>
                </div>
              </div>
            </div>
     
       </div>
   

        

   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>

    <script>
        var socket = io();
     
        $("[name='loader']").hide()
        $("[name='loader']").hide()

        $('#empieza').click(function(){
              console.log("Empieza")
             
              $("[name='loader']").show()
          
            //  socket.emit('empieza', "holaaa");
              socket.emit("getLiquidaciones","holaaaa");

          

            });
     
            socket.on('termina', function(msg){
            //    $("#messages").append('<li class="list-group-item">'+msg+'</li>');
            console.log("Termina "+msg)
            $("[name='loader']").hide()
          
        
            });

                 
         socket.on('getStatus', function(data){
            //    $("#messages").append('<li class="list-group-item">'+msg+'</li>');
            //console.log("Termina "+msg)
            console.log("getStatus",data)
          if(!data.isExecuting){
            $("[name='loader']").hide()
            $('#empieza').attr("disabled", false);
            }
         
            else{
            $("[name='loader']").show()
            $('#empieza').attr("disabled", true);
            $('#cc-status').text(data.msgs[0]) 
            $('#ProgressLiquidaciones').attr('style',"width:"+ data.percent+"%")
             $('#ProgressLiquidaciones').attr('aria-valuenow',data.percent)
             $('#ProgressLiquidaciones').text(data.percent+"%")
          }
        }
            );


 

     </script>


  </body>
</html>